<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="author" content="Torstein Krause Johansen"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css"
          href="http://skybert.net/theme/styles/skybert.css" />
    <script src="static/js/eithne.js" type="text/javascript"></script>
    <title>
      library
    </title>
  </head>
  <body>
    <h1>library</h1>
    <p id="now-playing"></p>
    <audio
      id="audio"
      preload="auto"
      tabindex="0"
      controls
      type="audio/mpeg">
      Sorry, your browser does not support HTML5 audio.
    </audio>
    <p>
      <a href="#" onclick="playNextSong()">Next song &gt;&gt;</a>
    </p>

    {% for artist in library %}
    {% for album in library[artist] %}
    <ul id="library">
      {% for song in library[artist][album] %}
      <li>
        <a href="#" onclick="play('{{ song.href }}')">
          {{ artist }} - {{ album }} - {{ song.title }}
        </a>
      </li>
      <script type="text/javascript">
        addToPlayList(song("{{ song.title }}", "{{ album }}", "{{ artist }}", "{{ song.href }}"));
      </script>
      {% endfor %}
    </ul>
    {% endfor %}
    {% endfor %}

    <script type="text/javascript">
      initAudioPlayer();
    </script>
  </body>
</html>
